header {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;

  img {
    height: 70px;
  }

  a {
    text-decoration: none;
    color: lightgray;
    margin-left: 32px;
    font-weight: 500;

    &:hover {
      color: gray;
    }
  }
}
